<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="servidorSmtp" value="smtp.gmail.com"/>
    <add key="portaSmtp" value="587"/>
    <add key="loginSmtp" value="username"/>
    <add key="senhaSmtp" value="senha"/>
    <add key="emailSmtp" value="recomendador@gmail.com"/>
    <add key="nomeSmtp" value="recomendador"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>