src/SeLigaNoBlog/packages/
src/SeLigaNoBlog/SeLigaNoBlog.Playground/obj/
src/SeLigaNoBlog/SeLigaNoBlog.Playground/bin/
src/SeLigaNoBlog/SeLigaNoBlog.wpf/bin/
src/SeLigaNoBlog/SeLigaNoBlog.wpf/obj/
src/SeLigaNoBlog/SeLigaNoBlog/obj/
src/SeLigaNoBlog/SeLigaNoBlog/bin/
